body
{
    font-family: 'Roboto', sans-serif;
}
.btn-lab
{
    background-color: coral;
}
.btn-lab:hover
{
    background-color: lightcoral;
}
#games-section-1
{
    background-color: #343A40;
}
#games-section-2
{
    background-color: #F8F9FA; 
}